@media (max-width: 1128px) {
  .header__container--links {
    margin-right: 0 !important;
  }
  .header__container--social {
    flex-direction: column;
  }
  .header__container--social .header__container--social--content .header__social--gmail {
    margin-right: 0 !important;
  }
  main .aboutUS {
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr !important;
    gap: 30px;
  }
  main .aboutUS .aboutUS__container {
    max-width: 354px !important;
  }
  main .banner {
    background: url("../img/banner2.png") no-repeat center center;
    position: relative;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  main .banner .banner__blackout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(47, 48, 58, 0.4);
    z-index: 1;
  }
  main .banner .banner__container {
    position: relative;
    z-index: 2;
  }
  main .banner .banner__container .banner__title {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    width: 360px;
    margin-top: 200px;
  }
  main .banner .banner__container .banner__button {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    background-color: #2196F3;
    border: none;
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin: 30px 0 200px 0;
  }
  main .banner .banner__container .banner__button:hover {
    background-color: #125083;
  }
  main .occupations {
    display: none;
  }
  main .team-container {
    padding: 0 5px;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr !important;
    gap: 30px;
    max-width: 738px;
    padding-bottom: 100px;
  }
  main .team-card {
    width: 354px;
    height: 536px;
  }
  main .team-photo {
    width: 354px;
    height: 374px;
  }
  main .Photo-img {
    width: 768px;
    height: 400px;
  }
  main .Photo-title {
    color: white;
    font-family: Roboto;
    position: absolute;
    left: 210px;
    bottom: 650px;
    text-align: center;
    font-size: 26px;
  }
  main .Photo-button {
    width: 200px;
    height: 50px;
    font-family: Roboto;
    background-color: rgb(33, 150, 243);
    color: white;
    border-radius: 4px;
    position: absolute;
    left: 260px;
    bottom: 570px;
  }
  main .clients-title {
    font-size: 28px;
  }
  main .clients-container {
    max-width: 738px;
    padding: 0 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 100px;
    gap: 20px;
  }
  main .clients-img {
    width: 226px;
    height: 92px;
  }
  main .clients-photo1 {
    margin-left: 95px;
    margin-top: 25px;
  }
  main .clients-photo2 {
    margin-left: 95px;
    margin-top: 20px;
  }
  main .clients-photo3 {
    margin-left: 90px;
    margin-top: 25px;
  }
  main .clients-photo4 {
    margin-left: 95px;
    margin-top: 25px;
  }
  main .clients-photo5 {
    margin-left: 80px;
    margin-top: 25px;
  }
  main .clients-photo6 {
    margin-left: 70px;
    margin-top: 25px;
  }
  .footer {
    background-color: #2F303A;
    margin-top: 100px;
  }
  .footer .footer__container {
    max-width: 603px;
    display: flex;
    flex-direction: column;
  }
  .footer .footer__adress {
    font-family: Roboto;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding-bottom: 8px;
  }
  .footer .footer__gmail {
    font-family: Roboto;
    text-decoration: none;
    color: gray;
    font-size: 14px;
    padding-bottom: 8px;
  }
  .footer .footer__container--1and2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .footer .footer__phone {
    font-family: Roboto;
    text-decoration: none;
    color: gray;
  }
  .footer .footer__container--second--title {
    font-family: Roboto;
    color: white;
    margin-bottom: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  .footer .footer__container--therd--title {
    font-family: Roboto;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 14px;
  }
  .footer .footer__container--therd--input {
    width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .footer ::-moz-placeholder {
    font-family: Roboto;
    padding: 20px;
  }
  .footer ::placeholder {
    font-family: Roboto;
    padding: 20px;
  }
  .footer .footer__container--therd--button {
    margin-top: 20px;
  }
  .footer .footer__container--therd {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
  }
  .footer .footer__container--therd--content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  main .banner {
    background: url("../img/banner3.png") no-repeat center center;
    position: relative;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  main .aboutUS {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr !important;
    gap: 30px;
  }
  main .aboutUS .aboutUS__container {
    max-width: 450px !important;
    max-height: 226px;
  }
  main .aboutUS__title {
    display: flex;
    justify-content: center;
  }
  main .team-container {
    padding: 0 5px;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr !important;
    gap: 30px;
    max-width: 450px;
    padding-bottom: 100px;
  }
  main .team-card {
    width: 450px;
    height: 622px;
  }
  main .team-photo {
    width: 450px;
    height: 460px;
  }
  main .clients-title {
    font-size: 28px;
  }
  main .clients-container {
    max-width: 450px;
    padding: 0 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-bottom: 100px;
    gap: 20px;
  }
  main .clients-img {
    width: 210px;
    height: 92px;
  }
  main .clients-photo1 {
    margin-left: 89px;
    margin-top: 25px;
  }
  main .clients-photo2 {
    margin-left: 89px;
    margin-top: 20px;
  }
  main .clients-photo3 {
    margin-left: 80px;
    margin-top: 25px;
  }
  main .clients-photo4 {
    margin-left: 89px;
    margin-top: 25px;
  }
  main .clients-photo5 {
    margin-left: 64px;
    margin-top: 25px;
  }
  main .clients-photo6 {
    margin-left: 54px;
    margin-top: 25px;
  }
  footer .footer__container {
    display: flex;
    flex-direction: column;
    max-width: 450px;
  }
  footer .footer__container--1and2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  footer .footer__container--second {
    padding-top: 60px;
  }
}