@media (max-width:1100px){
    
    .header__container--links{
        margin-right: 0!important;
    }

    .header__container--social{
        flex-direction: column;

        & .header__container--social--content{

            & .header__social--gmail{
                margin-right: 0!important;
            }
        }

    }

    main{

        & .aboutUS{
            padding: 0 5px;
            grid-template-columns: 1fr 1fr!important;
            grid-template-rows: 1fr 1fr!important;
            gap: 30px;

            & .aboutUS__container{
                max-width: 354px!important;
            }
        }
        & .banner{
            background: url('../img/banner2.png') no-repeat center center;
            position: relative;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        
             .banner__blackout{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(47, 48, 58, 0.4);
                z-index: 1;
            }
        
            .banner__container{
                position: relative;
                z-index: 2;
        
                & .banner__title{
                    font-family: Roboto;
                    font-size: 26px;
                    font-weight: 900;
                    line-height: 42px;
                    letter-spacing: 0.06em;
                    text-align: center;
                    color: #fff;
                    width: 360px;
                    margin-top: 200px;
                }
        
                .banner__button{
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 30px;
                    letter-spacing: 0.06em;
                    text-align: center;
                    color: #fff;
                    background-color: #2196F3;
                    border: none;
                    cursor: pointer;
                    padding: 10px 32px;
                    border-radius: 4px;
                    transition: background-color 0.3s;
                    margin: 30px 0 200px 0;
        
                    &:hover{
                        background-color: #125083;
                    }
                }
            }
        }   
     & .occupations{
        display: none;
     }
         
     & .team{
        

        &-container{
            padding: 0 5px;
            grid-template-columns: 1fr 1fr!important;
            grid-template-rows: 1fr 1fr!important;
            gap: 30px;       
            max-width: 738px;
            padding-bottom: 100px;
        }
        &-card{
            width: 354px;
            height: 536px;
        }
        &-photo{
            width: 354px;
            height: 374px;
        }
    }

         & .Photo{
            &-img{
                width: 768px                                                                                    ;
                height: 400px;
            }
            &-title{
                color: white;
                font-family: Roboto;
                position: absolute;
                left: 210px;
                bottom: 650px;
                text-align: center;
                font-size: 26px;
    
                
            }
            &-button{
                width: 200px;
                height: 50px;
                font-family: Roboto;
                background-color: rgba(33, 150, 243, 1);
                color: white;
                border-radius: 4px;
                position: absolute;
                left: 260px;
                bottom: 570px;
    
               
            }
         }

        & .clients{
            &-title{
                font-size: 28px;
            }
        }
    }
    .footer{
        background-color: #2F303A;
        margin-top: 100px;
        
        & .footer__container{
            width: 100%;
            max-width: 738px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 60px;
            
        }
        & .footer__logo{
            margin-bottom: 20px;
        }
        & .footer__adress{
            font-family: Roboto;
            text-decoration: none;
            color: white;
        }
        & .footer__gmail{
            font-family: Roboto;
            text-decoration: none;
            color: gray;
            
            
        }
        
        & .footer__phone{
            font-family: Roboto;
            text-decoration: none;
            color: gray;
        }
        & .footer__container--second--title{
            font-family: Roboto;
            color: white;
            margin-bottom: 20px;
        }
        & .footer__container--therd--title{
            font-family: Roboto;
            color: white;
            
        }
        & .footer__container--therd--input{
            width: 358px;
            height: 50px;
            border-radius: 4px;
            border: 1px solid gray;
            background-color: #2F303A;
            margin-top: 20px;
            margin-right: 5px;
        }
        ::placeholder{
            font-family: Roboto;
            padding: 20px;
    }
    & .footer__container--therd--button{
        background-color: #2196F3;
        font-family: Roboto;
        color: white;
        width: 200px;
        height: 50px;
        border-radius: 4px;
        line-height: 50px;
    }
    
       }
}