@import 'adaptive';

*{
    border: none;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

header{
    padding: 0 20px;

    & .header__container{
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        & .header__logo{
            padding: 24px 0;
        }

        .header__container--links{
            width: 100%;
            max-width: 285px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 200px;

            & .header__links{
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                line-height: 16.41px;
                letter-spacing: 0.02em;
                text-align: left;
                color: #212121;
                padding: 24px 0 20px 0;
                border-bottom: 4px solid transparent;
                transition: color 0.3s ease, border-color 0.3s ease;

                &:hover{
                    color: #2196F3;
                    border-bottom-color: #2196F3;
                    border-radius: 2px;
                }
            }
        }

        .header__container--social{
            display: flex;

            & .header__container--social--content{

                & .header__social--gmail{
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 16.41px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    color: #757575;
                    margin-right: 30px;
                    
                    &:hover path{
                        color: #2196F3; 
                        fill: #2196F3;  
                    }

                    &:hover{
                        color: #2196F3;  
                    }

                    .header__social--svg{
                        margin-right: 10px;
                    }
                }

                .header__social--phone{
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 16.41px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    color: #757575;
                    display: flex;
                    align-items: center;

                    &:hover path{
                        color: #2196F3; 
                        fill: #2196F3;  
                    }

                    &:hover{
                        color: #2196F3;  
                    }
                    
                    .header__social--svg{
                        margin-right: 10px;
                    }
                }
            }
        }

    }
}

main{
    & .Photo{
        &-img{
            width: 100vw;
        }
        &-title{
            color: white;
            font-family: Roboto;
            position: absolute;
            left: 770px;
            bottom: 490px;
            text-align: center;
            font-size: xx-large;

            
        }
        &-button{
            width: 216px;
            height: 50px;
            font-family: Roboto;
            background-color: rgba(33, 150, 243, 1);
            color: white;
            border-radius: 4px;
            position: absolute;
            left: 850px;
            bottom: 380px;

           
        }
    }
   
    & .aboutUS{
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 50px;

        & .aboutUS__container{
            width: 100%;
            max-width: 270px;
            margin: 0 auto;

            & .aboutUS__svg{
                background-color: #F5F4FA;
                display: flex;
                justify-content: center;

                & .svg{
                    padding: 25px 0;
                }
            }

            .aboutUS__title{
                font-family: Roboto;
                font-size: 14px;
                font-weight: 700;
                line-height: 16.41px;
                letter-spacing: 0.03em;
                text-align: left;
                color: #212121;
                margin-top: 30px;
                margin-bottom: 10px;
            }

            .aboutUS__text{
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.03em;
                text-align: left;
                color: #757575;
            }
        }
    }
    .occupations{
        &-container{
            max-width: 1170px;
            margin: 0 auto;
        }
        &-title{
            display: flex;
            justify-content: center;
            font-size: large;
            font-family: Roboto;
            margin-bottom: 50px;
            margin-top: 100px;
        }
        &-images{
            display: flex;
            justify-content: space-around;
            
           
            
        

        }
      
     
    }   
    .team{
        background-color: rgba(245, 244, 250, 1);
        width: 100%;
        &-container{
            max-width: 1170px;
            margin: 0 auto;
            margin-top: 100px;
            height: 708px;
        }
        &-title{
            font-size: 36px;
            font-family: Roboto;
            display: flex;
            justify-content: center;
           
        }
        &-card{                                    
            background-color: white;
            width: 270px;
            height: 428px;
            margin-top: 150px;
            
        }
        &-cards{
            display: flex;
            justify-content: space-around;            
            }
        &-photo{
            width: 270px;
            height: 260px;
            
        }
        &-text{
            font-family: Roboto;
            display: flex;
            justify-content: center;
            margin-top: 25px;
        }
        &-job{
            font-family: Roboto;
            color: #757575;
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
        &-socials{
            display: flex;
            justify-content: center;
            margin-top: 20px;
            
        }
    }
    .clients{
        
        &-container{
            max-width: 1170px;
            margin: 0 auto;
            margin-top: 100px;
            width: 100%;

        }

        &-title{
            font-family: Roboto;
            font-size: xx-large;
            display: flex;
            justify-content: center;
            
        }
        &-img{
            width:170px;
            height:92px;
            border:1px solid #AFB1B8;
            border-radius: 5px ;
           
            
        }
        &-imgs{
            display: flex;
            justify-content: space-around;
            max-width: 1170px;
            margin-top: 60px;
           

        }
        &-photo{
           margin-left: 35px;
           margin-top: 20px;
        }
    }
}

footer{
    width: 100vw;
    height: 252px;
    background-color: #2F303A;
    margin-top: 100px;
    position: relative;
    width: 100%;
    
    .container{
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
    }

    .info{
        &-logo{
            position: absolute;
            left: 355px;
            top: 50px;
        }
        &-text{
            position: absolute;
            top: 100px;
            left: 355px;
        }
        &-text1{
            font-family: Roboto;
            color: white;
            margin-bottom: 10px;
        }
        &-text2{
            font-family: Roboto;
            color: gray;
            margin-bottom: 10px;
        }
    }
    .soc{
        &-title{
            color: white;
            font-family: Roboto;
            position: absolute;
            left: 650px;
            top: 50px;

        }
        &-imgs{
            position: absolute;
            left: 650px;
            top: 90px;
        }
    }
    .email{
        &-title{
            color: white;
            font-family: Roboto;
            position: absolute;
            left: 940px;
            top: 50px;
        }
        &-form{
            width: 358px;
            height: 50px;
            border-radius: 4px;
            border: 1px solid gray;
            background-color: #2F303A;
            position: absolute;
            left: 940px;
            top: 90px;
        }
        ::placeholder{
            font-family: Roboto;
            padding: 20px;
        }
        &-button{
            background-color: #2196F3;
            font-family: Roboto;
            color: white;
            width: 200px;
            height: 50px;
            border-radius: 4px;
            position: absolute;
            left: 1310px;
            top: 90px;
            line-height: 50px;

        }
        &-photo{
           position: absolute;
           bottom: 13px;
           right: 30px;
        }
    }
       }
    
