@import './rest.scss';
@import './adaptive2.scss';



header{
    padding: 0 20px;

    & .header__container{
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        & .header__logo{
            padding: 24px 0;
        }

        .header__container--links{
            width: 100%;
            max-width: 285px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 200px;

            & .header__links{
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                line-height: 16.41px;
                letter-spacing: 0.02em;
                text-align: left;
                color: #212121;
                padding: 24px 0 20px 0;
                border-bottom: 4px solid transparent;
                transition: color 0.3s ease, border-color 0.3s ease;
                text-decoration: none;

                &:hover{
                    color: #2196F3;
                    border-bottom-color: #2196F3;
                    border-radius: 2px;
                }
            }
        }

        .header__container--social{
            display: flex;
            

            & .header__container--social--content{
                

                & .header__social--gmail{
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 16.41px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    color: #757575;
                    margin-right: 30px;
                    text-decoration: none;
                    
                    &:hover path{
                        color: #2196F3; 
                        fill: #2196F3;  
                    }

                    &:hover{
                        color: #2196F3;  
                    }

                    .header__social--svg{
                        margin-right: 10px;
                    }
                }

                .header__social--phone{
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 16.41px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    color: #757575;
                    display: flex;
                    align-items: center;
                    text-decoration: none;

                    &:hover path{
                        color: #2196F3; 
                        fill: #2196F3;  
                    }

                    &:hover{
                        color: #2196F3;  
                    }
                    
                    .header__social--svg{
                        margin-right: 10px;
                    }
                }
            }
        }

    }
}

.portfolio{
    width: 100%;
    max-width: 575px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 94px;

    & .portfolio__link{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
        background-color: #F5F4FA;
        padding: 6px 22px;
        border-radius: 4px;
        text-decoration: none;
        transition:  background-color 0.3s;
        }

        & .portfolio__link:hover {
            background-color: #2196F3;
            color: #fff;
        }
}

.cards{
    @keyframes showUp {
        0% {
            transform: translateY(100);
        }

        100% {
            transform: translateY(0);
        }
    }

    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 32px;
    margin-bottom: 94px;
    gap: 32px;

    & .cards__container{
        width: 100%;
        max-width: 370px;
        margin: 0 auto;

        &:hover .cards__overlay{
            animation: showUp 1500ms ease-in-out forwards;
        }

        .cards__img--1{
            position: relative;
            background-image: url(../img-page2/portfolio-1.png);
            background-repeat: no-repeat;
            height: 294px;
            overflow: hidden;

            & .cards__overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateY(100%);
                transition: transform 1500ms ease-in-out;
                background-color: #2196F3E5;

                & .cards__overlay--text{
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0.03em;
                    text-align: left;
                    color: #ffffff;
                    width: 322px;
                    padding: 63px 24px;
                }
            }
        }

        .cards__img--2{
            position: relative;
            background-image: url(../img-page2/portfolio-2.png);
            background-repeat: no-repeat;
            height: 294px;
            overflow: hidden;

            & .cards__overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateY(100%);
                transition: transform 1500ms ease-in-out;
                background-color: #2196F3E5;

                & .cards__overlay--text{
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0.03em;
                    text-align: left;
                    color: #ffffff;
                    width: 322px;
                    padding: 63px 24px;
                }
            }
        }

        .cards__img--3{
            position: relative;
            background-image: url(../img-page2/portfolio-3.png);
            background-repeat: no-repeat;
            height: 294px;
            overflow: hidden;

            & .cards__overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateY(100%);
                transition: transform 1500ms ease-in-out;
                background-color: #2196F3E5;

                & .cards__overlay--text{
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0.03em;
                    text-align: left;
                    color: #ffffff;
                    width: 322px;
                    padding: 63px 24px;
                }
            }
        }

        .cards__img--4{
            position: relative;
            background-image: url(../img-page2/portfolio-4.png);
            background-repeat: no-repeat;
            height: 294px;
            overflow: hidden;

            & .cards__overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateY(100%);
                transition: transform 1500ms ease-in-out;
                background-color: #2196F3E5;

                & .cards__overlay--text{
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0.03em;
                    text-align: left;
                    color: #ffffff;
                    width: 322px;
                    padding: 63px 24px;
                }
            }
        }

        .cards__img--5{
            position: relative;
            background-image: url(../img-page2/portfolio-5.png);
            background-repeat: no-repeat;
            height: 294px;
            overflow: hidden;

            & .cards__overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateY(100%);
                transition: transform 1500ms ease-in-out;
                background-color: #2196F3E5;

                & .cards__overlay--text{
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0.03em;
                    text-align: left;
                    color: #ffffff;
                    width: 322px;
                    padding: 63px 24px;
                }
            }
        }

        .cards__img--6{
            position: relative;
            background-image: url(../img-page2/portfolio-6.png);
            background-repeat: no-repeat;
            height: 294px;
            overflow: hidden;

            & .cards__overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateY(100%);
                transition: transform 1500ms ease-in-out;
                background-color: #2196F3E5;

                & .cards__overlay--text{
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0.03em;
                    text-align: left;
                    color: #ffffff;
                    width: 322px;
                    padding: 63px 24px;
                }
            }
        }

        .cards__img--7{
            position: relative;
            background-image: url(../img-page2/portfolio-7.png);
            background-repeat: no-repeat;
            height: 294px;
            overflow: hidden;

            & .cards__overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateY(100%);
                transition: transform 1500ms ease-in-out;
                background-color: #2196F3E5;

                & .cards__overlay--text{
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0.03em;
                    text-align: left;
                    color: #ffffff;
                    width: 322px;
                    padding: 63px 24px;
                }
            }
        }

        .cards__img--8{
            position: relative;
            background-image: url(../img-page2/portfolio-8.png);
            background-repeat: no-repeat;
            height: 294px;
            overflow: hidden;

            & .cards__overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateY(100%);
                transition: transform 1500ms ease-in-out;
                background-color: #2196F3E5;

                & .cards__overlay--text{
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0.03em;
                    text-align: left;
                    color: #ffffff;
                    width: 322px;
                    padding: 63px 24px;
                }
            }
        }

        .cards__img--9{
            position: relative;
            background-image: url(../img-page2/portfolio-9.png);
            background-repeat: no-repeat;
            height: 294px;
            overflow: hidden;

            & .cards__overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateY(100%);
                transition: transform 1500ms ease-in-out;
                background-color: #2196F3E5;

                & .cards__overlay--text{
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0.03em;
                    text-align: left;
                    color: #ffffff;
                    width: 322px;
                    padding: 63px 24px;
                }
            }
        }

        .cards__text--container{
            padding: 20px 0 20px 24px;
            border-style: solid;
            border-width: 0 1px 1px 1px;
            border-color: #EEEEEE; 
                    
            & .cards__title{
                font-family: Roboto;
                font-size: 18px;
                font-weight: 700;
                line-height: 36px;
                letter-spacing: 0.06em;
                text-align: left;
            }
    
            .cards__text{
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0.03em;
                text-align: left;
                color: #757575;
            }
        }
    }
}
.footer{
    background-color: #2F303A;
    margin-top: 100px;
    
    & .footer__container{
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
        padding-bottom: 60px;
        
        
    }
    
    & .footer__container--1and2{
        display: flex;
        justify-content: space-between;
        max-width: 507px;
        width: 100%;
        margin: 0 auto;
    }
    & .footer__logo{
        margin-bottom: 20px;
    }
    & .footer__adress{
        font-family: Roboto;
        text-decoration: none;
        color: white;
        padding-bottom: 8px;
    }
    & .footer__gmail{
        font-family: Roboto;
        text-decoration: none;
        color: gray;
        padding-bottom: 8px;
    }
    
    & .footer__phone{
        font-family: Roboto;
        text-decoration: none;
        color: gray;
    }
    & .footer__container--second--title{
        font-family: Roboto;
        color: white;
        margin-bottom: 20px;
    }
    & .footer__container--therd--title{
        font-family: Roboto;
        color: white;
        
    }
    & .footer__container--therd--input{
        width: 358px;
        height: 50px;
        border-radius: 4px;
        border: 1px solid gray;
        background-color: #2F303A;
        margin-top: 20px;
        margin-right: 5px;
    }
    ::placeholder{
        font-family: Roboto;
        padding: 20px;
}
& .footer__container--therd--button{
    background-color: #2196F3;
    font-family: Roboto;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    line-height: 50px;
}

}